# DB
POSTGRES_HOST=kanban-db
POSTGRES_PORT=5432
POSTGRES_DB=kanban
POSTGRES_USER=kanban
POSTGRES_PASSWORD=kanban

# Rabbit MQ
RABBITMQ_HOST=kanban-rabbitmq
RABBITMQ_HOST_PORT=5673
RABBITMQ_PORT=5672
RABBITMQ_PANEL_PORT=15673
RABBITMQ_USER=kanban
RABBITMQ_PASSWORD=kanban
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
